<h3>Agile</h3>
<ul>
  <li><%= link_to "Backlog", "/issues?utf8=%E2%9C%93&set_filter=1&f%5B%5D=status_id&op%5Bstatus_id%5D=o&f%5B%5D=fixed_version_id&op%5Bfixed_version_id%5D=%21*&f%5B%5D=&c%5B%5D=project&c%5B%5D=tracker&c%5B%5D=subject&c%5B%5D=status&c%5B%5D=done_ratio&c%5B%5D=assigned_to&c%5B%5D=fixed_version&c%5B%5D=updated_on&group_by=project&t%5B%5D=estimated_hours&t%5B%5D=spent_hours" %></li>
  <li><%= link_to "Board", "/agile/board?utf8=✓&set_filter=1&f%5B%5D=fixed_version_id&op%5Bfixed_version_id%5D=%3D&v%5Bfixed_version_id%5D%5B%5D=2&f%5B%5D=&f%5B%5D=status_id&op%5Bstatus_id%5D=%3D&f_status%5B%5D=20&f_status%5B%5D=21&f_status%5B%5D=22&f_status%5B%5D=25&f_status%5B%5D=27&f_status%5B%5D=28&f_status%5B%5D=23&c%5B%5D=project&c%5B%5D=tracker&c%5B%5D=estimated_hours&c%5B%5D=spent_hours&c%5B%5D=done_ratio&c%5B%5D=assigned_to&c%5B%5D=last_comment&c%5B%5D=cf_2" %></li>
  <% if User.current.allowed_to?(:view_agile_queries, @project) %>
  <li><%= link_to "Project Board", {:controller => "agile_boards", :action => "index", :project_id => @project} %></li>
  <% end %>

  <% if User.current.allowed_to?(:manage_agile_verions, @project) %>
  <li><%= link_to l(:label_agile_version_planning), {:controller => "agile_versions", :action => "index", :project_id => @project} %></li>
  <% end %>
</ul>
